# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/Template Variavel/build/
/Template Variavel/dist/
/Template Variavel/nbproject/private/
/Programas/GuiLogin/dist/
/Programas/GuiLogin/build/
/Programas/CMD-Java Logistic/build/
/Programas/CMD-Java Logistic/dist/
/Programas (Template)/GuiLogin/dist/
